# NetBeans (configurações locais)
SistemaCemiterio/nbproject/private/
SistemaCemiterio/nbproject/project.properties


# Build do projeto
SistemaCemiterio/build/
SistemaCemiterio/dist/

# Arquivos privados específicos
SistemaCemiterio/nbproject/private/private.properties
SistemaCemiterio/nbproject/private/private.xml


# IntelliJ
.idea/
out/
*.iml